@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeef0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.stat-table {
  min-width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  padding: 10px;
}

th {
  padding: 4px;
}

tbody tr:nth-child(even) {
  background-color: #edeef09c;
}

td {
  min-width: 50px;
  padding: 8px;
  white-space: nowrap;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.name-col {
  border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
}

thead tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.button-active {
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 0px 1px 10px white, 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
  color: red;
}

.circle {
  position: relative;
  top: 15px;
  left: 15px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffffff;
}

.matchup-image-home {
  position: absolute;
  top: 35%;
  right: 10%;
}

.matchup-image-away {
  position: absolute;
  top: 35%;
  left: 10%;
}

.circle::before {
  position: absolute;
  content: "";
  top: 15%;
  right: 49%;
  width: 1px;
  height: 95px;
  background-color: rgba(0, 0, 0, 0.4);
}

.matchup-predictor {
  position: relative;
}

.matchup-predictor::before {
  position: absolute;
  content: attr(data-awayteamchance);
  font-weight: 900;
  font-size: 1.15rem;
  top: 10%;
  left: 5%;
}

.matchup-predictor::after {
  position: absolute;
  content: attr(data-hometeamchance);
  font-size: 1.15rem;
  font-weight: 900;
  bottom: 10%;
  right: 5%;
}

.circle-border {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.score-cell {
  padding-right: 16px;
}
.score-cell::after {
  background: rgba(0, 0, 0, 0.1);
  bottom: 2px;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: 1px;
}

.winning-score {
  position: relative;
}

.winning-score::after {
  bottom: 0px;
  content: "";
  position: absolute;
  right: -16px;
  top: 2px;
  height: 0px;
  width: 0px;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
}

.date-selector {
  position: absolute;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 30px;
  right: 0;
  bottom: 0;
  top: 4rem;
}

.selection-active::before {
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #d50a0a;
  height: 4px;
  position: absolute;
}
