@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edeef0;
}

body {
  padding: 0;
  margin: 0;
}

.decoration-bars::after {
  content: "";
  width: 10rem;
  height: 100vh;
  position: fixed;
  z-index: -20;
  bottom: -20rem;
  right: 10rem;
  rotate: 45deg;
}
